/* recipes_styles.css */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2em;
}
img{
    display: block;
    margin: auto;
    height: 310px; 
    width: 310px;
    padding-bottom: 40px;
}
p{
    display: block;
    margin: auto;